*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/cpp/ffmpeg-*
/app/src/main/cpp/*.tar.bz2
/app/src/main/cpp/x264-*
/app/src/main/cpp/*.sh
/app/src/main/cpp/output